@import "partials/calendarStyles";
@import "partials/normalize";
@import "partials/variables";

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background: deepskyblue;
    color: white;
}


.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.timeZone {
    margin-top: 30px;;
    font-weight: 600;
    border-bottom: 2px solid white;
}

.tempIconFlex {
    display: flex;
}

.flexIcon {
    margin-top: 20px;
}

.weatherSummary {
    margin-bottom: 0;
    font-weight: 600;
}

.flexTemp {
    font-size: 30px;
    position: relative;
    margin-left: 20px;
}
.celcius {
    font-size: 20px;
    position: absolute;
    top: -5px;
}

.input, .submitButton {
    border-radius: 50px;
    padding: 10px 10px;
    border: none;
    font-size: 18px;
    color: black;
    // z-index: 1;
    background-color: rgba(255,255,255,0.3);
    margin-bottom: 10px;
    width: 280px;
}

.input:hover {
    background: rgba(255,255,255,0.4);
}

.submitButton:hover {
    background: rgba(255,255,255,0.4);
    // background: lightblue;
}

.mainFlexContainer {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
}

.submitButton {
    color: white;
}

.bigCalendar {
    height: 100vh;
    width: 100%;
}